.nav{
    position: absolute;
    bottom: 1rem;
    left: 25%;
    right: 25%;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.btn-nav{
    font-size: 2.4rem;
    padding: .5rem 2rem;
    border-radius: 7px;
    transition: 130ms ease-out;
}
.btn-nav-light:hover{
    background-color: #1e212d20;
}
.btn-nav-dark:hover{
    background-color: #eabf9f10;
}
.btn-nav-light{
    color:#1e212d
}
.btn-nav-dark{
    color: #eabf9f
}
.btn-nav-light.active{
    background-color: #1e212d!important;
    color: #eabf9f;
}
.btn-nav-dark.active{
    background-color: #eabf9f!important;
    color: #1e212d;
}