@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
h1,h2,h3,h4,a,p,li,input,button{
  font-family: 'Space Mono', sans-serif;
}
.App{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1e212d;
  padding: 7rem 25rem;
}
.App-light{
  background: linear-gradient(#eee0d5 80%, #ceb7a5);
}
.App-dark{
  background: linear-gradient(#1e212d 80%,#0f141d);
}

.bulb{
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 3.2rem;
  cursor: pointer;
}
.bulb:active{
  transform: scale(0.95);
}
.bulb-dark{
  color: #eabf9f;
}
.bulb-light{
  color: #1e212d;
}

/***/

.light{
  color: #1e212d;
}
.dark{
  color: #eabf9f;
}



/***/
h2{
  font-size: 4rem;
  text-transform: uppercase;
  animation: h2Appear 1000ms ease-out;
}
p{
  font-size: 2rem;
}



@keyframes h2Appear{
  from{
    transform: translateY(-300px);
  }
  to{
    transform: translateY(0);
  }
}