@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
h1,h2,h3,h4,a,p,li,input,button{
  font-family: 'Space Mono', sans-serif;
}
.App{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1e212d;
}
.App-light{
  background: linear-gradient(#eee0d5 80%, #ceb7a5);
}
.App-dark{
  background: linear-gradient(#1e212d 80%,#0f141d);
}

.bulb{
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 3.2rem;
  cursor: pointer;
}
.bulb:active{
  transform: scale(0.95);
}
.bulb-dark{
  color: #eabf9f;
}
.bulb-light{
  color: #1e212d;
}