*, *:before, *:after, *:visited{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html{
  height: 100vh;
  width: 100%;
  font-size: 10px;
  overflow: hidden;
  box-sizing: inherit;
}

button, button:active, button:focus{
  border: none;
  background-color: none;
  outline: none;
}